.App-background {
  background-color: #282c34;
  color: white;
}
.App-card-dark {
  background-color: #282c34 !important;
  color: white;
}
.App-banner{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-footer{
  color: #455a64 ;
}
.App-title {
  color: #039be5 ;
}
.App-subtitle {
  color: #8eb2c7 ;
  font-weight: bolder;
}
.App-paragraph {
  color: #9dabb3 ;
}
.App-btn-outline-info {
  color: #039be5;
  border-color: #039be5;
}
.App-btn-outline-info:hover {
  color: #fff;
  background-color: #01579b;
  border-color: #01579b;
}
.App-link {
  color: #039be5 ;
  text-decoration: none;
}
.App-link:hover {
  color: #01579b ;
}
.App-navbar-link {
  color: white ;
  text-decoration: none;
}
.App-navbar-link:hover {
  color: #039be5 ;
}
.App-link-comprar {
  color: #ffc107;
  text-decoration: none;
}
.App-navbar-link:hover {
  color: #d39e00 ;
}
.App-active{
  border-bottom: 2px solid #039be5;
}
.App-active-comprar{
  border-radius: 2px;
  border-bottom: 2px solid #d39e00;
}
.h-100{
  height: 100vh;
  max-height: auto;
}
.lh-base{
  letter-spacing: 1.5px;
}
.App-full-height{
  height: 100%;
}